body
html
    margin 0
    font-size 24px
    font-family Ubuntu

*
    box-sizing border-box

.container
    max-width 1050px
    margin 0 auto
    padding 0 7px

    +below($tablet-width)
        max-width 740px

    +below($mobile-width)
        max-width 95vw

.background-cover
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background-color rgba(9, 49, 71, .6)
