.flex-container
    display flex
    justify-content space-between
    flex-wrap wrap
    font-family Arial

.flex-block
    margin 10px auto
    width 300px
    max-height 100px
    background-color #5cb85c
    border 1px solid green
    text-align center
    transition:all 1s;
    overflow hidden

.flex-block-full
    margin 10px auto
    width 300px
    max-height 500px
    background-color #5cb85c
    border 1px solid green
    text-align center
    transition:all 1s;

.announcement-header
    font-size 20px
    cursor default

.annauncement-text
    font-size inherit
    cursor default

.partial-header
    text-align center
    font-family Arial
    font-size 24px