.form-container
	padding 10px
	width auto
	font-family Arial

.form-group
	margin-bottom 10px
	margin-left 10px

.form-header
	font-size:24

.form-button
	height 40px
	width 100px
	font-size 18px
	text-align center
	border-color #5cb85c
	border-style solid
	font-family Arial
	&:hover
		background-color #5cb85c

.text-input
	padding-left 1%
	font-size inherit
	height 40px
	width 200px
	border-bottmo 1px solid black