section.about
    .container
        h3.title
            |   Про нас
        p.about-text 
            |   Сьогодні навчання дуже швидко розвивається, саме тому наша магістерська програма пропонує майбутнім студентам, великі можливості, тому що подвійний диплом це подвійна кількість корисної інформації, досвіт та спілкування із спеціалістами. MASTIS є найкращим університетом світу! У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть зроблені і представлені з фактичний зміст все ще не готовий. Подумайте про прес-блозі, що наповнилися змістом погодинна в день буде жити. Однак рецензенти схильні відволікатися на зрозумілій змісту, скажімо, випадкового тексту, скопійованого з газети або в інтернеті.
        
        h3.title
            |   Можливостi у навчаннi
        p.about-text 
            |   MASTIS є найкращим університетом світу! У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть зроблені і представлені з фактичний зміст все ще не готовий. Подумайте про прес-блозі, що наповнилися змістом погодинна в день буде жити. Однак рецензенти схильні відволікатися на зрозумілій змісту, скажімо, випадкового тексту, скопійованого з газети або в інтернеті. Це слова і букви були змінені додаванням або видаленням, так навмисно роблять його зміст безглуздо, це не є справжньою, правильно чи зрозумілою Латинської більше. У той час як Lorem Ipsum все ще нагадує класичну латину, він насправді не має ніякого значення. Ці та інші часто вставляється випадково імітувати типографський Зовнішність європейських мовах, як і орграфов будуть знайдено в оригіналі.

        .courses
            .courses-list
                h4.courses-list-header Основні курси:
                ul
                    li Безпека інформаційної системи (MC8)
                    li Система управління інформацією та зберігання даних
                    li Управління архітектурою підприємства
                    li Інновації та підприємництво
                    li Розробка та розгортання ІС
            .courses-list
                h4.courses-list-header Дисципліни для вивчення:
                ul
                    li Безпека інформаційної системи (MC8)
                    li Система управління інформацією та зберігання даних
                    li Управління архітектурою підприємства
                    li Інновації та підприємництво
                    li Розробка та розгортання ІС