section
    .container
        h3.partial-header.title Анонси подій
        .flex-container
            each i in [1,2,3,4]
                .flex-block(id=i)
                    p.announcement-header="Анонс події тороборо курторо	рокоторо бармалоро"
                    p.annauncement-text="Ця подія дуже захоплююча та цікава. Обов'язково побувайте на ній. Ви не пошкодуєте!"