section
    .container
        p.partial-header Announcements
        .flex-container
            each i in [1,2,3,4]
                .flex-block(id=i)
                    p.announcement-header="header asdasdasdasdasdasdasda asda sda d"
                    p.annauncement-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea commodo consequat. "