footer.footer#contacts-anchor
    .background-cover
    .container
        h3.footer-item Контакти
        p.footer-item Establishing Modern Master-level Studies in Information Systems
        p.footer-item be.very.smart@gmail.com
        p.footer-item 095-30-40-175
