section.form-section
	.container.form-container
		p.form-header Subscribe to get notifications 
		form(action="", method="post")
			.form-group
				input(class="text-input" type="text", placeholder="Name")
			.form-group
				input(class="text-input" type="text", placeholder="E-mail")
			.form-group
				button(class="form-button" type="submit") Subscribe
