section.form-section
    .container.form-container
        if errors
            each error, key in errors 
                p= error
        p.form-header Підписуйтесь на наші найцікавіші новини! 
        form(action="/subscribe", method="post")
            .form-group
                input(class="text-input" type="text", placeholder="Iм'я", name="name", required)
            .form-group
                input(class="text-input" type="text", placeholder="E-mail", name="email", required)
            .form-group
                button(class="form-button" type="submit") Підписатися
