section.form-section
	.container.form-container
		p.form-header Підписуйтесь на наші найцікавіші новини! 
		form(action="", method="post")
			.form-group
				input(class="text-input" type="text", placeholder="Iм'я")
			.form-group
				input(class="text-input" type="text", placeholder="E-mail")
			.form-group
				button(class="form-button" type="submit") Підписатися
