header.header
    ul.header-nav
        li.header-nav-logo LOGO
        li.header-nav-item: a(href='') Контакти
        li.header-nav-item: a(href='') Події
        li.header-nav-item: a(href='') Про нас