header.header
    .container
        ul.nav
            li.nav-logo
                img(src="../images/euro.png")
            li.nav-logo
                img(src="../images/logo-khnue.png")
            li.nav-item
                a Контакти
            li.nav-item
                a Події
            li.nav-item
                a Про нас
