header.header
    .container
        .header-nav
            .header-nav-logo LOGO
            nav.header-nav-items
                a(href='') Контакти
                a(href='') Події
                a(href='') Про нас
