header.header
    .container
        .nav
            .nav-images
                img(src="../images/euro.png")
                img(src="../images/logo-khnue.png")
            .nav-links
                li.nav-item#about
                    a Про нас
                li.nav-item#events
                    a Події
                li.nav-item#contacts
                    a Контакти
