header.header
    .container
        ul.header-nav
            li.header-nav-logo LOGO
            nav.header-nav-items
                a(href='') Контакти
                a(href='') Події
                a(href='') Про нас
