section.partners
	.container
		h3.title Наші партнери
		.partners-columns
			.partners-column.center
				img(src="../images/euro-flag.png").partner-flag
				h4 Євросоюз
				p Universite Lumiere Lyon 2,  France
				p Guido Carli Free International University for Social Studies, Italy
				p University of Münster,  Germany
				p Kaunas University of Technology,   Lithuania
				p University of Maribor,  Slovenia
				p University of Agder,  Norway
				p Lulea University of Technology,  Sweden
				p University of Liechtenstein,  Liechtenstein
				p Italian Association for Informatics and Automatic Calculation,  Italy
			.partners-column
				img(src="../images/ukraine-flag.png").partner-flag
				h4 Україна
				p Simon Kuznets Kharkiv National University of Economics,  Ukraine
				p National Technical University of Ukraine “KPI”,  Ukraine
				p Lviv Polytechnic National University,  Ukraine
				p Vinnytsia National Technical University,  Ukraine
				p Kherson State University,  Ukraine
				p National Technical University “Kharkiv Polytechnic Institute”,  Ukraine
				p Ministry of Education and Science of Ukraine
			.partners-column
				img(src="../images/montenegro-flag.png").partner-flag
				h4 Монтенегро
				p University of Donja Gorica,  Montenegro
				p University “Mediterranean” Podgorica,  Montenegro