section.poster
    .background-cover
    .container.poster-container
        h2.poster-heading Establishing Modern Master-level Studies in Information Systems
        h4.poster-text 
            | Це велика гордість - вчитися в найкращому університеті світу. Приєднуйтесь до нас! Отримайте подвійний диплом магістра. А разом з ним отримуйте можливість бути успішною та впевненою у собі людиною.