section.poster
    h2.poster-text Назва магістерської програми
    h2.poster-img 
        | line1
        | line2
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi explicabo, mollitia laboriosam. Eligendi pariatur omnis sapiente deserunt iusto ut, libero itaque ex quas, nobis vel quo illo soluta consectetur numquam.
    //img(src=require("./img/logo.png"))
