
-var url = "./apple-touch-icon.png"
section.slider-section
	div.slider.owl-carousel
		each val in {1:"one",2:"two",3:"three",4:"four",5:"five",6:"six",7:"seven"}
			div(class="slider-item" style={background: "green"})
				each pic in [1,2,3,4,5]
					a(class="event-pictures" data-lightbox='pictureGroup'+val href=url data-title="event "+val)

				div.description
					p.description-header= val
					p.description-body= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus"

				
				

			

