
-var url = "images/apple-touch-icon.png"
section.slider-section.container
    .slider.owl-carousel
        each event in events 
            .slider-item(style={background: 'url(' + event.picture + ')'})
                //- each pic in [1,2,3,4,5]
                //-     a.event-pictures(
                //-         data-lightbox='pictureGroup'+val,
                //-         href=url,
                //-         data-title="event "+val
                //-     )

                .description
                    p.description-header= event.name
                    p.description-body= event.getShort()

                
                    

                
