.poster
    position relative
    padding 100px 0
    background-image url("../images/student.png")
    background-repeat no-repeat
    background-size cover
    height calc(100vh - 88px)
    color white

    &-container
        display flex

        +below($mobile-width)
            flex-direction column
            padding 30px 10px
            align-items center

    &-text
        margin-left 30px
        z-index 1

    &-heading
        text-align center
        z-index 1

.partners
    &-columns
        display flex
        justify-content space-between

        +below($tablet-width)
            flex-direction column

    &-column
        border 2px solid #5cb85c
        border-radius 10px
        padding 0 20px
        width 32%
        
        +below($tablet-width)
            width 100%
            margin-bottom 10px

        p
            font-size 20px



