extends layouts/master

block content    
    include partials/header.pug
    include partials/poster.pug
    include partials/about.pug
    include partials/announcements.pug
    include partials/slider.pug
    include partials/form.pug
    include partials/footer.pug
