form(action="/authenticate", method="post")
    label Login
    div
        input(name="login", placeholder="*Login", type="text")
    label Password
    div
        input(name="password", placeholder="*Password", type="password")
