footer
    position relative
    border-top 1px solid black
    background-image url("../images/call-center.png")
    background-size cover
    color white
    text-align center
    margin-bottom 0

    .footer-item
        position relative
        z-index 1
        margin-bottom 0
        
        &:last-child
        	padding-bottom 10px