.header
    background-color white

.nav
    list-style-type none
    margin 0
    padding 0
    overflow hidden
    display flex
            
    &-images
        img
            height 70px
            padding-top 15px

            +below(1075px)
                height 50px
                margin 15px 0

            +below(765px)
                display none

    &-links
        display flex
        margin-left auto

        +below(765px)
            margin auto

        .nav-item
            margin-left auto
            cursor pointer

            a
                display block
                color #5cb85c
                text-align center
                padding 30px 20px
                text-decoration none

                +below(1075px)
                    font-size 20px
                    padding-left 5px
                    padding-right 5px

                &:hover
                    background-color #5cb85c
                    color white