.header-nav
    list-style-type none
    margin 0
    padding 0
    overflow hidden
    background-color grey
    
    &-logo
        float left
        padding 20px 20px

    &-item
        float right

        :hover
            background-color rgb(112, 92, 72)

        a
            display block
            color white
            text-align center
            padding 20px 20px
            text-decoration none

@media screen and (max-width: $mobile-width)
    .header-nav
        font-size 10px
