.header
    background-color grey

    &-nav
        list-style-type none
        margin 0
        overflow hidden
        display flex
        justify-content space-between
        padding 20px 0

        &-items
            a
                color white
                text-align center
                padding 20px 20px
                text-decoration none

                +below($mobile-width)
                    padding 20px 10px

                &:hover
                    background-color rgb(112, 92, 72)
