html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title itp
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        // Place favicon.ico in the root directory
        // build:css styles/vendor.css
        // bower:css
        // endbower
        // endbuild
        // build:css styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild
        // build:js scripts/vendor/modernizr.js
        script(src='/bower_components/modernizr/modernizr.js')
        // endbuild
        // build:css scripts/vendor/owl.carousel.css
        link(rel="stylesheet", href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css")
        // endbuild
        // build:css scripts/vendor/lightbox.css
        link(href="/bower_components/lightbox2/dist/css/lightbox.min.css", rel="stylesheet")
        // endbuild
    body
        <!--[if lt IE 10]>
            p.browserupgrade
                | You are using an 
                strong outdated
                |  browser. Please 
                a(href='http://browsehappy.com/') upgrade your browser
                |  to improve your experience.
        <![endif]-->
        
        block content
                
        // build:js scripts/vendor.js
        // bower:js
        script(src='/bower_components/modernizr/modernizr.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/owl.carousel/dist/owl.carousel.min.js')
        script(src='/bower_components/lightbox2/dist/js/lightbox.min.js')
        // endbower
        // endbuild
        // build:js scripts/main.js
        script(src='scripts/bundle.js')
        // endbuild
